@import "tailwindcss";

/* Thêm chút style cơ bản cho body */
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #f3f4f6; /* gray-100 */
  color: #1f2937; /* gray-800 */
}